
1.12.2/contentcreatorintegration/contentcreatorintegration.cfg
*.log
*.gz
*stats.json
*online.json
1.14.4/contentcreatorintegration/contentcreatorintegration-common.toml
1.14.4/contentcreatorintegration/contentcreatorintegration.toml
